name: Build Server

on:
  push:
    branches:
      - master
  workflow_dispatch: { }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install AArch64 Cross-Compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Patch libgcc path for CI
        run: |
          LIBGCC_PATH=$(aarch64-linux-gnu-gcc -print-libgcc-file-name)
          sed -i "s|/usr/lib/gcc/aarch64-linux-gnu/15.1.0/libgcc.a|$LIBGCC_PATH|g" server/build.gradle.kts

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Arm64 Executable
        run: ./gradlew :server:linkReleaseExecutableLinuxArm64
        env:
          KONAN_DATA_DIR: ${{ github.workspace }}/.konan

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: server-linux-arm64
          path: server/build/bin/linuxArm64/releaseExecutable/server.kexe